:root {
  --one: #261e5e;
  --two: #8b8b8b;
  --three: #161a1e;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
/* APP */

body {
  background: var(--two);
  background-image: url('./img/space1.jpg');
  background-repeat: no-repeat;
  background-size: 2000px;
}

/* SEARCH */

.searchform {
  display: flex;
  justify-content: space-around;
}

.searchInput {
  width: 100%;
  height: 90%;
  font-size: 20px;
}

.autocomplete-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
}

.autocomplete-item-button {
  cursor: pointer;
  font-size: 16px;
  border: none;
  background-color: white;
  padding: 5px;
  text-align: left;
}

.autocomplete-item-button:hover {
  background: #f1f1f1;
}

/* RESULTS */

.chart {
  /* padding: 20px; */
  border: 1px solid black;
  border-radius: 5px;
  /* max-width: 100%; */
  max-width: 1000px;
  margin: 20px auto;
  background-color: rgba(51, 58, 83, 0.7);
  box-shadow: 1px 1px 5px black;
}

.legend {
  margin: 10px 20px;
  font-size: 1rem;
}

.legend p {
  margin: 0;
}

.legend-cloud {
  color: red;
}

.legend-humidity {
  color: rgb(255, 100, 0);
}

.legend-wind {
  color: rgb(255, 0, 225);
}

/* WELCOME */

#welcome p {
  margin-top: 25px;
  color: #b8b8b8;
  font-size: 1.2rem;
}

/* ABOUT */

#about p {
  margin-top: 25px;
  color: #b8b8b8;
  font-size: 1.2rem;
}

/* CONTACT */

#contact p {
  margin-top: 25px;
  color: #b8b8b8;
  font-size: 1.2rem;
}

/* FOOTER */

footer {
  background: #15032e;
  margin-top: 50px;
  border-top: 1px solid #555;
  text-align: center;
  color: rgb(187, 185, 185);
  padding: 10px;
}
